$primary: #69D2E7;
$secondary: #FA6900;
$light: #E0E4CC;
$dark: #000;

// $success: ;
// $info: #F38630;
// $warning: ;
// $danger: ;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":      $light,
  "dark":       $dark
  // "success":    $success,
  // "info":       $info,
  // "warning":    $warning,
  // "danger":     $danger,
);
